@model Robo.Domain.Robo

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="form-group-input">@Model.BracoDireito.Name</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="form-group-input">@Model.BracoEsquerdo.Name</label>
        </div>
    </div>
</div>
